.message__container {
  @extend .card;
  margin-bottom: 1.2rem;
  max-width: 650px;
  margin: auto;
  h1 {
    font-size: 2rem;
  }
  .links__container {
    display: flex;
    align-items: center;
    a {
      margin-left: 5px;
    }
    a > svg {
      margin-left: 10px;
      width: 35px;
      fill: blue;
    }
  }
}
